<div class="container mb-5">
    <a class="backbtn" asp-area="" asp-controller="Home" asp-action="Index">
        <img class="arrow-img" src="~/icons/arrow.svg" style="margin-right: 12px;"/>
        <span style="position: relative; top: 1px;">Вернуться назад</span>
    </a>
</div>