<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">DIRECT.GROW</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light pe-5" asp-area="" asp-controller="Home" asp-action="Portfolio">Портфолио</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light pe-5" asp-area="" asp-controller="Home" asp-action="Price">Прайс</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light pe-5" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light px-3 nav-send" asp-area="" asp-controller="Home" asp-action="ContactUs">Написать нам →</a>
                </li>
            </ul>
        </div>
    </div>
</nav>