@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@section Styles {
    <link rel="stylesheet" href="~/css/layout/error.css" asp-append-version="true" />
}

<section class="error-section">
    <div class="main-text" id="main-text">
        <p class="error-code">@ViewData["ErrorCode"]</p>
        <p class="error-text">Страница ушла пить кофе. Вернется позже.</p>
        <a class="return-text" asp-area="" asp-controller="Home" asp-action="Index">Вернуться на главную</a>
    </div>
    <div class="gradient-texture"></div>
</section>