.contactform-container {
    height: 110vh;
}

.ft1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 80px;
}
    .ft1 .asterisk {
        font-weight: 700;
    }

.ft2 {
    font-size: 20px;
    font-weight: 300;
    color: #D9D9D9;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    height: 65.6px;
    background-color: #212121;
    font-size: 24px;
    font-weight: 400;
    border: 0;
    border-radius: 7px;
    padding-left: 32px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

.select {
    position: relative;
}

.selectWrapper {
    position: relative;
}

.selectCustom {
    position: relative;
    width: 100%;
    height: 65.6px;
}

.selectCustom-trigger {
    font-size: 24px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #212121;
    padding: 0.7rem 32px;
    line-height: 2.5rem;
    font-size: 24px;
    border: 2px solid #212121;
    border-radius: 7px;
    cursor: pointer;
    color: #B7B7B7;
    transition: border-color 0.3s ease;
}

.selectCustom-trigger::after {
    content: ">";
    font-size: 32px;
    transform: rotate(90deg);
    position: absolute;
    top: 0;
    line-height: 4rem;
    right: 1rem;
    color: #B7B7B7;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.selectCustom-trigger:hover {
    border: 2px solid #5D73FF;
}

.selectCustom.isActive .selectCustom-trigger {
    border: 2px solid #5D73FF;
}

.selectCustom.isActive .selectCustom-trigger::after {
    transform: rotate(-90deg);
}

.selectCustom-options {
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 7px;
    background-color: #212121;
    z-index: 1;
    display: none;
    font-size: 24px;
    font-weight: 400;
}

.selectCustom.isActive .selectCustom-options {
    display: block;
}

.selectCustom-option {
    position: relative;
    padding: 0.8rem 32px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selectCustom-option:hover {
    background-color: #5D73FF4F;
}

.checkbox-btn {
  margin-top: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactform-checkbox {
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 18px;
    background: #2B2B2B;
    border: 4px solid #212121;
    border-radius: 15px;
    transition: 300ms ease-out;
}

.contactform-checkbox::after {
    background: #FF6905;
}

.contactform-checkbox:checked {
  width: 24px;
  height: 24px;
  transition: 300ms ease-out;
  background: #FF6905;
}

.form-checkbox-label {
    font-size: 20px;
    font-weight: 300;
}

.privacy-checkbox-link {
    color: #FF6905;
}

.privacy-checkbox-link:hover {
    color: #FF6905;
}

.submit-btn {
    width: 100%;
    height: 65.6px;
    border-radius: 32px;
    background-color: #FF6905;
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    transition: 300ms ease-out;
}

.submit-btn:hover {
    box-shadow: 0px 0px 20px rgba(255, 105, 5, 0.6);
}