@font-face {
    font-family: "Medium";
    src: url("/fonts/Medium.otf");
}

footer{
    height: 100vh;
    background-color: #FF6905;
    color: #000000 !important;
    position: relative;
}

.navbar-nav .nav-item {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.nav-send {
    border-radius: 30px;
    border: 0.5px solid #ffffff;
}

.brand-text {
    font-family: "Medium", sans-serif;
    font-size: 9vw;
    font-weight: 400;
}

.year-text {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
}