@font-face {
    font-family: "Medium";
    src: url("/fonts/Medium.otf");
}

.navbar {
    padding: 55px;
    height: 140px;
    min-height: 140px;
}

.navbar-brand {
    font-family: "Medium", sans-serif;
    font-size: 36px;
    font-weight: 400;
    user-select: none;
}

.navbar-nav .nav-item {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.nav-send {
    border-radius: 30px;
    border: 0.5px solid #ffffff;
}

.navbar-nav .nav-link {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 0px;
    text-underline-offset: 5px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: white;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: white;
}