@font-face {
    font-family: "Medium";
    src: url("/fonts/Medium.otf");
}

header .navbar {
    padding: 55px;
    /* height: 140px; */
    height: 100%;
    min-height: 140px;
    background-color: #000000 !important;
    z-index: 30;

}

header .navbar-brand {
    font-family: "Medium", sans-serif;  
    font-size: calc(20px + 16 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    user-select: none;
}

header .navbar-nav .nav-item {
    font-family: "Manrope", sans-serif;
    font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
}

header .nav-send {
    border-radius: 30px;
    border: 0.5px solid #ffffff;
    text-decoration: none !important;
}
header .nav-send:hover {
    text-decoration: none !important;
}

header .navbar-nav .nav-link {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 0px;
    text-underline-offset: 5px;
    transition: all 0.3s ease;
}

header .navbar-nav .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: white;
}

header .navbar-nav .nav-link.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-decoration-color: white;
}

@media (max-width: 769px) {
    header .navbar {
        padding: 55px 0;
    }

    header .pe-5 {
        padding-right: 8px !important;
    }
}

@media (max-width: 575.98px) {
    header .navbar-brand {
        font-size: calc(20px + 16 * ((100vw - 320px) / (1920 - 320)));
    }

    header .navbar-nav .nav-item {
        font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
    }

    header .navbar-collapse {
        max-height: 70vh;
        overflow-y: auto;
    }

    header .nav-send {
        border: none !important;
        padding: .5rem 1rem !important;
        padding-left: 0 !important;
    }
}