body{
  background-color: #000000;
  color: #ffffff;
}

.backbtn {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.backbtn:hover {
  color: #ffffff;
}