body{
  background-color: #000000;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
}

.asterisk {
    color: #ff6600;
}

.backbtn {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: calc(18px + 6 * (100vw / 1920));
  font-weight: 300;
  color: #ffffff;
}

.arrow-img {
  height: calc(18px + 6 * (100vw / 1920));
}

.backbtn:hover {
  color: #ffffff;
}