.slogan-section {
    margin-top: 100px;
    margin-bottom: 50px;
}

.slogan {
    font-size: 64px;
    line-height: 80%;
    font-weight: 300;
}

.text-start {
    padding-right: 180px;
    margin-bottom: 20px;
}

.text-end {
    padding-left: 180px;
}

.slogan-text-down strong {
    font-weight: 600;
}

.slogan-site {
    border-radius: 50px;
    border: 0.5px solid #ffffff;
    display: inline-block;
    height: 75px;
    align-content: center;
}

.order-button {
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    border-radius: 55px;
    background-color: #f96b07;
    padding: 0.564rem 1.5rem;
    transition: 300ms ease-out;
    margin-bottom: 10px;
}

.order-button:hover {
    box-shadow: 0px 0px 20px rgba(255, 105, 5, 0.6);
}

.first-part-section {
    margin-bottom: 250px;
}

.i-feel-logo {
    width: 1250px;
    height: 550px;
    object-fit: cover;
    justify-self: center;
}

.phrase-section {
    height: 1000px;
    overflow: hidden;
    margin-bottom: 250px;
}

.bg-phrase {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(/homepage/gradient_texture.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.phrase-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 80%;
}

.portfolio-section, .portfolio-container {
    height: 110vh;
    user-select: none;
}

.first-card {
    background-color: #050304;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.first-card-bg {
    position: absolute;
    bottom: -20%;
    right: -26%;
    width: 100%;
    height: 100%;
    background-image: url(/homepage/Image_2.jpg);
    background-size: cover;
    background-position: 0% 0%;
    z-index: 1;
}

.first-card-body {
    padding-left: 4rem;
    z-index: 2;
}

.fc-p1 {
    font-size: 15px;
    font-weight: 600;
}

.fc-p2 {
    margin-top: 80px;
    font-size: 81px;
    font-weight: 600;
    line-height: 110%;
}

.fc-a {
    text-decoration: none;
    color: #000000;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 50px;
    width: 250px;
    height: 65px;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    left: 4rem;
    bottom: 3rem;
    text-align: center;
    align-content: center;
}

.fc-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.fc-link:hover {
    text-decoration: none;
    color: inherit;
    transform: translateY(-5px);
    box-shadow: 0px 1px 25px 0px rgba(255, 255, 255, 0.3);
}

.second-card {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.second-card-body {
    color: #000000;
    z-index: 2;
}

.sc-p1 {
    font-size: 15px;
    font-weight: 600;
}

.sc-p2 {
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    bottom: 0;
    left: 1rem;
}

.sc-img {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.second-card-bg {
    background-image: url(/homepage/render_3.png);
    position: absolute;
    background-size: 65%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: 90% 0%;
    bottom: -5%;
}

.third-card {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: #5D73FF;
}

.third-card-body {
    color: #000000;
    z-index: 2;
}

.tc-p1 {
    font-size: 15px;
    font-weight: 600;
}

.tc-p2 {
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    bottom: 0;
    left: 1rem;
}

.tc-img {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.fourth-card {
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-image: url(/homepage/Rectangle_gradient.png);
    background-size: cover;
}

.fourth-card-body {
    color: #000000;
    z-index: 2;
}

.foc-p1 {
    font-size: 15px;
    font-weight: 600;
}

.foc-p2 {
    position: absolute;
    font-size: 40px;
    font-weight: 600;
    bottom: 0;
    left: 1rem;
}

.foc-img {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.last-section {
    height: 110vh;
}

.last-p {
    font-size: 40px;
    font-weight: 400;
}

.last-span {
    font-weight: 700;
    border: 0.5px solid #ffffff;
    border-radius: 50px;
    padding: 0 15px;
    padding-bottom: 3px;
    display: inline-flex;
    align-items: center;
    height: 55px;
}

.last-question {
    margin-bottom: 67px;
}

.custom-question-form {
    width: 100%;
}

.form-container {
    height: 65.6px;
}

.text-input {
    background-color: #1A1A1A;
    border-radius: 37px;
    box-shadow: none;
    border: 0;
    padding-left: 32px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    width: 65%;
}

.text-input::placeholder {
    color: #ffffff;
}

.submit-btn {
    background-color: #ffffff;
    border: 0;
    border-radius: 37px;
    font-size: 24px;
    font-weight: 400;
}