body {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
}

.asterisk {
    color: #ff6600;
}

.price-section {
    padding: 2.93vh 0 28.65vh 0;
}

.custom-price-container {
    width: calc(100vw - 388px);
    margin-left: 194px;
    margin-right: 194px;
    max-width: 100%;
}

.price-containers-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6.98vh;
}

.price-container-item {
    width: 100%;
}

.price-card {
    width: 100%;
    height: 66.91vh;
    background: #000000;
    box-shadow: 0px 1px 70px -19px #FFFFFF40;
    position: relative;
    opacity: 1;
}

.gradient-overlay {
    width: 61.9%;
    height: 100%;
    background: linear-gradient(90deg, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(40, 40, 40, 0.5) 50%, 
        rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: none;
}

.price-card-content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    color: white;
    z-index: 2;
}

.price-card-label_1 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
    margin-top: 49px;
    margin-left: 92px;
}

.price-card-text_1_1 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 49px;
    margin-left: 92px;
    color: #D9D9D9;
    margin-bottom: 38px;
}

.order-button {
    width: 254.63px;
    height: 65.6px;
    background: #ffffff;
    border: none;
    border-radius: 13px;
    opacity: 1;
    cursor: pointer;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    margin-left: 92px;
    margin-bottom: 165px;
}

.order-button:hover {
    background: #f0f0f0;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.price-card-text_1_2 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-left: 92px;
    margin-bottom: 10px;
}

.price-card-price_1 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-left: 92px;
    margin-top: 0; 
}

.price-card-image-1 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 130%;
    max-width: 50%;
    object-fit: contain;
    z-index: 3;
}

.price-card-label_2 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
    margin-top: 49px;
    margin-left: 92px;
}

.price-card-text_2_1 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 49px;
    margin-left: 92px;
    color: #D9D9D9;
    margin-bottom: 38px;
}

.price-card-text_2_2 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-left: 92px;
    margin-bottom: 10px; 
}

.price-card-price_2 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-left: 92px;
    margin-top: 0; 
}

.price-card-image-2 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    max-width: 50%;
    object-fit: contain;
    z-index: 3;
}

.price-card-label_3 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
    margin-top: 49px;
    margin-left: 92px;
}

.price-card-text_3_1 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 49px;
    margin-left: 92px;
    color: #D9D9D9;
    margin-bottom: 38px;
}

.price-card-text_3_2 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-left: 92px;
    margin-bottom: 10px;
}

.price-card-price_3 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-left: 92px;
    margin-top: 0; 
}

.price-card-image-3 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    max-width: 50%;
    object-fit: contain;
    z-index: 1;
}

.price-card-label_4 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
    margin-top: 49px;
    margin-left: 92px;
}

.price-card-text_4_1 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 49px;
    margin-left: 92px;
    color: #D9D9D9;
    margin-bottom: 38px;
}

.price-card-text_4_2 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-left: 92px;
    margin-bottom: 10px;
}

.price-card-price_4 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-left: 92px;
    margin-top: 0; 
}

.price-card-label_5 {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
    margin-top: 49px;
    margin-left: 92px;
}

.price-card-text_5_1 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 49px;
    margin-left: 92px;
    color: #D9D9D9;
    margin-bottom: 38px;
}

.price-card-text_5_2 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 129%;
    letter-spacing: 0%;
    color: #D9D9D9;
    margin-left: 92px;
    margin-bottom: 10px;
}

.price-card-price_5 {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #ffffff;
    margin-left: 92px;
    margin-top: 0;
}

.price-card-image-5 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    max-width: 50%;
    object-fit: contain;
    z-index: 3;
}