.price-section {
    margin-bottom: 250px;
}

.price-card {
    position: relative;
    width: 80%;
    height: 642px;
    margin-bottom: 68px;
    box-shadow: 0px 1px 70px -19px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.price-card-content {
    z-index: 2;
}

.price-card-img-content {
    position: relative;
}

.price-card-image {
    position: absolute;
    top: 0;
    right: 1rem;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.price-card-fp {
    padding-left: 90px;
    padding-top: 50px;
}

.price-card-label {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.price-card-text {
    font-size: 20px;
    font-weight: 300;
    color: rgba(217, 217, 217, 1);
    line-height: 129%;
    margin-bottom: 60px;
}

.order-link {
    text-decoration: none;
    color: #000000;
    padding: 18px 73px 20px 73px;
    border-radius: 13px;
    background-color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.price-card-price-container {
    position: absolute;
    bottom: 50px;
    left: 90px;
}

.price-card-price-label {
    font-size: 20px;
    font-weight: 300;
    color: rgba(217, 217, 217, 1);
}

.price-card-price {
    font-size: 48px;
    font-weight: 700;
}

.gradient-overlay {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    height: 100%;
    background: linear-gradient(270deg, rgba(40, 40, 40, 0) 0%, #000000 100%);
    z-index: 1;
}