.price-section {
    margin-bottom: 250px;
}

.price-card {
    position: relative;
    width: 80%;
    height: 642px;
    margin-bottom: 68px;
    box-shadow: 0px 1px 70px -19px rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.price-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 1px 70px -19px rgba(255, 255, 255, 0.5);
}

.price-card-content {
    z-index: 2;
}

.price-card-img-content {
    position: relative;
}

.price-card-image {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.price-card-fp {
    padding-left: calc(20px + 70 * ((100vw - 320px) / (1920 - 320)));
    padding-top: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.price-card-label {
    font-size: calc(20px + 16 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    margin-bottom: 60px;
}

.price-card-text {
    font-size: calc(14px + 6 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 300;
    color: rgba(217, 217, 217, 1);
    line-height: 129%;
    margin-bottom: 60px;
}

.order-link {
    text-decoration: none;
    color: #000000;
    padding: 18px 73px 20px 73px;
    border-radius: 13px;
    background-color: #fff;
    font-size: calc(20px + 4 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
}
    .order-link:hover {
        color: #000000;
    }

.price-card-price-container {
    position: absolute;
    bottom: calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
    left: calc(20px + 70 * ((100vw - 320px) / (1920 - 320)));
}

.price-card-price-label {
    font-size: calc(16px + 4 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 300;
    color: rgba(217, 217, 217, 1);
}

.price-card-price {
    font-size: calc(24px + 24 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
}

.gradient-overlay {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 0;
    height: 100%;
    background: linear-gradient(270deg, rgba(40, 40, 40, 0) 0%, #000000 100%);
    z-index: 1;
}

@media (max-width: 567px) {
    .price-card {
        height: 550px;
    }

    .price-card-label {
        margin-bottom: 20px;
    }

    .order-link {
        padding: 0.5rem 1.5rem;
        position: absolute;
        left: calc(1rem + 10 * (100vw / 567));
        bottom: 120px;
    }
}

@media (max-width: 430px) {
    .order-link {
        padding: 0.5rem 1.5rem;
        position: absolute;
        bottom: 100px;
    }
}