body {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
}

.slogan-contacts-1 {
    width: 100%;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
}
    .slogan-contacts-1 .asterisk {
        font-weight: 700;
    }

.contact-subtitle {
    margin-top: calc(30px + 30 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: calc(40px + 40 * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(40px + 100 * ((100vw - 320px) / (1920 - 320)));
    margin-left: 0;
    margin-right: 0;
    font-size: calc(10px + 38 * (100vw / 1920));
}

.contact-phone {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    padding-left: 0;
}
    .contact-phone a {
        text-decoration: none;
        color: #ffffff;
        margin-bottom: 0;
        transition: all 0.3s ease;
    }
        .contact-phone a:hover {
            color: #ffffff;
            text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
        }

.messenger-links {
    display: flex;
    align-items: center;
    position: relative;
}

.messenger-link {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}

.telegram {
    color: #1495FF;
    text-align: center;
}
    .telegram:hover {
        color: #1495FF;
        text-shadow: 0px 0px 15px #1495FF;
    }

.whatsapp {
    color: #56BC12;
    text-align: center;
}
    .whatsapp:hover {
        color: #56BC12;
        text-shadow: 0px 0px 15px #56BC12;
    }

.vk {
    color: #24ABFF;
    text-align: end;
    padding-right: 0;
}
    .vk:hover {
        color: #24ABFF;
        text-shadow: 0px 0px 15px #56BC12;
    }

.messenger-link:hover {
    text-decoration: none;
}

.specialists-text {
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    display: none;
}
    .specialists-text .asterisk {
        font-weight: 700;
    }

.specialists-gallery {
    margin-top: 90px;
    display: flex;
    align-items: flex-start;
    height: 900px;
    position: relative;
    margin-bottom: 150px;
    width: 100%;
}

.image-item {
    position: relative;
    transition: all 0.5s ease;
    cursor: pointer;
    opacity: 1;
    flex-shrink: 0;
    height: 100%;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-item.active {
    width: 45%;
    margin: 0 15px;
    position: relative;
}

.image-item.active::after {
    content: attr(data-description);
    position: absolute;
    bottom: 39px;
    left: 39px;
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    color: white;
}

.image-item.active::before {
    content: attr(data-name);
    position: absolute;
    bottom: calc(39px + 28px + 7px);
    left: 39px;
    font-size: 28px;
    font-family: "Manrope", sans-serif;
    color: white;
    font-weight: 700;
}

.image-item:not(.active) {
    width: 148.83px;
    height: 100%;
    margin: 0 15px;
}

.first-item {
    margin-left: 0 !important;
}

.last-item {
    margin-right: 0 !important;
}
/* 
.specialists-gallery .image-item:first-child {
    margin-left: 100px;
}

.specialists-gallery .image-item:last-child {
    margin-right: 100px;
} */

@media (max-width: 768px) {
    .contact-subtitle {
        text-align: center;
    }

    .contact-content {
        flex-direction: column;
        margin: 3rem 0;
        text-align: center;
        font-size: calc(36px + 12 * ((100vw - 320px) / (1920 - 320)));
    }
        .contact-phone {
            width: 100%;
            padding: 0.25rem 0;
        }

    .messenger-links {
        flex-direction: column;
        width: 100%;
    }
    .messenger-link {
        width: 100%;
        text-align: center;
        padding: 0.25rem 0;
    }
}