#portfolio-content {
    margin-top: calc(50px + 130 * ((100vw - 320px) / (1920 - 320)));
}

.portfolio-header {
    min-height: calc(150px + 100 * ((100vw - 320px) / (1920 - 320)));
    height: 100%;
    margin-bottom: calc(50px + 200 * ((100vw - 320px) / (1920 - 320)));
}
    .portfolio-header .container {
        position: relative;
        min-height: calc(150px + 100 * ((100vw - 320px) / (1920 - 320)));
    }

.portfolio-name {
    font-size: calc(32px + 32 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin-bottom: 80px;
}

.release-date {
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(158, 158, 158, 1);
    font-size: calc(18px + 4 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
}

.trend {
    position: absolute;
    left: 0;
    bottom: 1rem;
}

.trend span {
    margin-right: 30px;
    padding: 8px 24px 12px 24px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(158, 158, 158, 1);
    border: 1px solid rgba(158, 158, 158, 1);
    border-radius: 30.06px;
}

.portfolio-description {
    margin-bottom: 50px;
}

.section-title {
    font-size: calc(32px + 32 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
}

.section-content {
    font-size: calc(20px + 4 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    line-height: 120%;
    color: rgba(193, 193, 193, 1);
    padding-top: 32px;
    padding-bottom: 100px;
}

.preview-image-section {
    margin-bottom: 200px;
}

.image-section {
    margin-bottom: 200px;
}

.image-container {
    position: relative;
    max-height: 80vh;
    margin-bottom: 75px;
}

.preview-image {
    width: 100vw;
    object-fit: cover;
}
    .preview-image img {
        width: 100%;
        object-fit: cover;
    }

.image-wrapper {
    display: none;
    text-align: center;
    overflow-y: scroll;
    max-height: 80vh;
    border-radius: 10px;
    padding-right: 10px;
}

.image-wrapper::-webkit-scrollbar {
    background-color: rgba(217, 217, 217, 0.42);
    width: 5px;
    border-radius: 5px;
    transform: translateX(100px);
}

.image-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.image-wrapper.active {
    display: block;
}

.image-wrapper img {
    max-width: 100%;
    min-height: auto;
    width: 100%;
}

.image-buttons {
    display: flex;
    justify-content: center;
}

.image-buttons .main {
    margin-right: 32px;
    padding-top: calc(4px + 4 * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(30px + 20 * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(6px + 4 * ((100vw - 320px) / (1920 - 320)));
    padding-left: calc(30px + 20 * ((100vw - 320px) / (1920 - 320)));
}

.image-buttons .mobile {
    padding-top: calc(4px + 4 * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(6px + 4 * ((100vw - 320px) / (1920 - 320)));
    padding-left: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.image-button {
    background-color: black;
    color: rgba(158, 158, 158, 1);
    border-radius: 30px;
    border: 1px solid rgba(158, 158, 158, 1);
    cursor: pointer;
    font-size: calc(20px + 4 * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    transition: all 0.3s ease;
}

.image-button:hover {
    background-color: rgba(255, 105, 5, 1);
    border: 1px solid rgba(255, 105, 5, 1);
    color: black;
    border: 0;
    transition: all 0.3 ease;
}

.image-button.active {
    background-color: rgba(255, 105, 5, 1);
    color: black;
    border: 1px solid rgba(255, 105, 5, 1);
}

.image-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border: 1px solid black;
    color: rgba(255, 105, 5, 1);
    background-color: #000000;
}

.image-button:disabled:hover {
    border: 1px solid black;
}

.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 567px) {
    .trend-item {
        display: none;
    }

    .release-date {
        left: 1rem;
    }

    .portfolio-description .row {
        flex-direction: column;
    }
        .portfolio-description .row .col-6 {
            width: 100%;
        }
    
    .image-buttons .main {
        padding: ;
    }

}