body {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
}

.slogan-section-portfolio {
    margin-top: 100px;
    margin-bottom: 118px;
}

.slogan-portfolio {
    font-size: 60px;
    font-weight: 400;
    white-space: nowrap;
}

.asterisk {
    color: #ff6600;
}

.slogan-forward {
    display: inline-block;
    border-radius: 55px;
    border: 2px solid #ffffff;
    padding: 0px 32px 10px 32px;
    font-weight: 600;
    align-content: center;
}

.portfolio-images-container {
    position: relative;
    height: 250vh;
    margin-top: 0;
    margin-bottom: 166px;
    max-width: 100%;
}

.left-side, .right-side {
    padding-top: 20px;
}

.col {
    position: relative;
    overflow: hidden;
}

.project-link {
    text-decoration: none;
    transition: all 0.3s ease;
}
    .project-link:hover {
        transform: translateY(-5px);
        transition: all 0.3s ease;
    }
    .project-link:hover .portfolio-image-part {
        box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.25);
    }

.portfolio-image-part {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.portfolio-image {
    width: 100%;
    object-fit: cover;
    position: absolute;
    scale: 1.2;
}

.portfolio-card {
    margin-bottom: 80px;
}

.project-title {
    font-size: 64px;
    font-weight: 600;
    color: #ffffff;
    margin: 1rem 0px;
}

.project-directions {
    display: flex;
    color: rgba(158, 158, 158, 1)
}

.direction-item {
    margin-right: 1rem;
    font-size: 24px;
    font-weight: 400;
    border: 1px solid rgba(158, 158, 158, 1);
    padding: 8px 22px 12px 22px;
    border-radius: 30px;
}

.new-badge {
    position: absolute;
    z-index: 1;
    top: 1rem;
    left: 1rem;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    border: 1px solid #ffffff;
    padding: 2px 17px 4px 22px;
    background-color: #ffffff;
    border-radius: 51px;
}

.portfolio-arrow {
    position: absolute;
    top: 1rem;
    right: 1rem;
}